{% extends 'main.html' %}

{% block content %}
    oieeeeee
{% endblock %}

{% block content %}
    <a href="/create/">Cadastro de Usuários</a>
{% endblock %}

<!-- Login com Python e Django
     Vamos começar criando um link simples para o login na home:  -->

<a href="/painel/">Painel de Login</a><br>

<!-- Vamos criar o diretório dashboard dentro de templates, e vamos criar 
     o arquivo home.html que será a página inicial da área restrita:  -->

{% extends 'main.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        Área Restrita
        Bem vindo
    {% else %}
        Você não tem acesso a essa área!
    {% endif %}
{% endblock %}

